/* =============== nav ================= */
.nav {
  inline-size: 100%;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  /* background-color: rgba(81, 81, 81, 0.2); */

}

.nav__list {
  
  display: flex;
  justify-content: space-evenly;
  padding: 30px 30%;
  margin: 0 50px;
}

.nav__list-link {
  text-decoration: none;
  color: var(--accent-color);
  font-size: 24px;
  padding: 6px 17px;
  border: 2px solid #EA954F; 
  border-radius: 30px;
  /* background-color: rgba(81, 81, 81, 0.2); */
  text-shadow: 0px 0px 9px white;
  /* font-family: var(--main-font); */
  font-weight: 550;
  text-transform: uppercase;
  /* border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F; */
  /* box-shadow: 0px 0px 5px var(--accent-color); */
  transition: .2s;
  background-color: var(--background-accent-active);
  box-shadow: 0px 0px 8px var(--accent-color);
} 

.nav__list-link:hover {
  background-color: rgba(81, 81, 81, 0.1);
  box-shadow: 0px 0px 10px var(--accent-color);
  color: #EA954F;
}

.nav__list-link:active {
  color: white;
}

.nav__list-item:not(:last-child) {
  margin-right: 20px;
}