/* =============== nav ================= */
.nav {
  width: 100%;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.nav__list {
  /* width: 90%; */
  display: flex;
  justify-content: center;
  padding: clamp(0.9375rem, 0.6696rem + 1.3393vw, 1.875rem) 0; /* 30 15*/
  /* margin: 0 50px; */
}

.nav__list-link {
  text-decoration: none;
  color: var(--accent-color);
  /* font-size: 24px; */
  font-size: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem); /*24 12px*/
  padding: clamp(0.25rem, 0.2143rem + 0.1786vw, 0.375rem) clamp(0.875rem, 0.8214rem + 0.2679vw, 1.0625rem); /* 6-4 17-14*/
  border: 2px solid #EA954F; 
  border-radius: 30px;
  /* background-color: rgba(81, 81, 81, 0.2); */
  text-shadow: 0px 0px 9px white;
  /* font-family: var(--main-font); */
  font-weight: 550;
  text-transform: uppercase;
  /* border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F; */
  /* box-shadow: 0px 0px 5px var(--accent-color); */
  transition: .2s;
  background-color: var(--background-accent-active);
  box-shadow: 0px 0px 8px var(--accent-color);
} 

.nav__list-link:hover {
  background-color: rgba(81, 81, 81, 0.1);
  box-shadow: 0px 0px 10px var(--accent-color);
  color: #EA954F;
}

.nav__list-link:active {
  color: white;
}

.nav__list-item:not(:last-child) {
  margin: 0 20px 0 0;
}

/* media */

@media (width <= 768px) {
  .nav__list {
    flex-direction: column;
  }

  .nav__list-item:not(:last-child) {
    margin: 0 0 clamp(1.0625rem, 0.7946rem + 1.3393vw, 1.4375rem); /*23 17px*/
  }

}