.up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 50px;
  block-size: 50px;
  border-radius: 5px;
  background-color: var(--background-accent-active);
  backdrop-filter: blur(1px);
  box-shadow: 0px 0px 3px var(--accent-color);
  position: fixed;
  top: 30px;
  right: 30px;
  transition: .1s;
}

.up-button:hover {
  background-color: rgba(81, 81, 81, 0.1);
}

.up-button:active {
  color: white;
}

/* media */
@media (width < 1024px) {
  .up-button {
    display: none;
  }
}

/* ================utility================== */

.is-animated {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: visibility 0s 0.3s, opacity 0.3s;
}

.is-visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.3s;
}