/* =============scroll=============== */
.scroll-container {
  align-self: center;
  width: 90%;
  box-shadow: 0px 0px 4px var(--accent-color);
  overflow: hidden;
  color: var(--accent-color);
  background-color: rgba(81, 81, 81, 0.2);
  backdrop-filter: blur(1px);
}

.header__caption {
  padding: clamp(0.3125rem, 0.2232rem + 0.4464vw, 0.625rem) 0; /*5 10px*/
  /* color: #FFFADE; */
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem); /*24 16px*/
  text-shadow: 0px 0px 9px white;
  animation: scroll 30s linear infinite;
  white-space: nowrap;
}

/* ==============keyframes================= */
@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}