/* language */
.language__change-container {
  position: absolute;
  /* left: 47%; */
  top: clamp(1.25rem, 1.0714rem + 0.8929vw, 1.875rem);
}

.language__button {
  cursor: pointer;
  padding: 5px;
  border: 2px solid  rgba(81, 81, 81, 0.3);
  border-radius: 10px;
  inline-size: clamp(1.875rem, 1.6964rem + 0.8929vw, 2.5rem);/*40 30*/
  aspect-ratio: 1/1;
  background-color:  rgba(81, 81, 81, 0.1);
  transition: .2s;
  text-shadow: 0px 0px 9px white;
  font-weight: 600;
  font-family: var(--accent-font);
  color: rgba(81, 81, 81, 0.7);
  box-shadow: 0px 0px 3px var(--accent-color);
}

.language__button:hover {
  border: 2px solid #EA954F; 
  /* background-color: var(--background-accent-active); */
  /* color: var(--main-text-color); */
}

.language__button_active {
  border: 2px solid #EA954F; 
  background-color: var(--background-accent-active);
  color: var(--main-text-color);
  box-shadow: 0px 0px 8px var(--accent-color);
}

/* media */
@media (width <= 540px) {
  .language__change-container {
    right: 20px;
  }
}