/* =================intro=================== */
.intro {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: clamp(1.5625rem, 1.2054rem + 1.7857vw, 2.8125rem); /*45 25px*/
  margin: 50px 0;
  font-family: var(--accent-font);
}

.intro__cards-list {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -0.1786rem + 2.9762vw, 2.5rem);/*35 20px*/
  /* justify-content: space-evenly; */
  margin-bottom: 40px;
}

.card {
  text-align: center;
  padding: 20px;
  block-size: clamp(10.625rem, 8.4821rem + 4.4643vw, 12.5rem); /* 200 170px until 768px width*/ 
  inline-size: clamp(13.125rem, 6.6964rem + 13.3929vw, 18.75rem); /* 300 210px until 768px width*/
  line-height: 1.3;
  box-shadow: 0px 0px 3px var(--accent-color);
  border-radius: 5px;
  transition: .3s;
  background-color: var(--background-accent);
  backdrop-filter: blur(5px);
  text-shadow: 0px 0px 9px white;
  border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F;
}

.card_bigger {
  inline-size: clamp(15.625rem, 9.1964rem + 13.3929vw, 21.25rem);/*340 250px until 768px width*/
  block-size: clamp(13.125rem, 10.9821rem + 4.4643vw, 15rem); /*240 210px until 768px width*/
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--background-accent-active);
}

.intro__slogan-container {
  display: flex;
  align-items: center;
}

.intro__slogan {
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: normal;
  margin: 0 35px;
  text-align: center;
}

.intro__slogan span {
  font-weight: bold;
}

.intro__image {
  inline-size: 170px;
  aspect-ratio: 1/1;
}

.intro__image-right {
  transform: rotateY(180deg);
}

/* media */

@media (width <= 768px) {
  .intro {
    height: auto;
    margin-block-end: 40px;
  }

  .intro__cards-list {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .card {
    inline-size: auto;
    block-size: auto;
    padding: clamp(0.625rem, 0.1786rem + 2.2321vw, 1.25rem);/*20 10px*/
  }

  /* .card:hover {
    transform: scale(1.1);
  } */

  .card_bigger {
    background-color: var(--background-accent-active);
  }

  .intro__image {
    inline-size: clamp(6.25rem, 3.125rem + 15.625vw, 10.625rem);/*170 100*/
  }

  .intro__slogan {
    font-size: clamp(1rem, 0.6429rem + 1.7857vw, 1.5rem);/*24 16px*/
    margin: 0 5px;
  }
}