/* plans */
.plans {
  inline-size: 90%;
  block-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plans__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-block-end: 50px;
}

.plans__card {
  text-align: center;
  inline-size: clamp(15.625rem, 11.1607rem + 22.3214vw, 31.25rem);/*500 250*/
  block-size: auto;
  padding: 20px;
  /* border: 3px solid #EA954F; */
  box-shadow: 0px 0px 3px var(--accent-color);
  border-radius: 5px;
  text-shadow: 0px 0px 9px white;
  background-color: var(--background-accent);
  backdrop-filter: blur(5px);
  border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F;
  transition: .2s;
}

.plans__card:hover {
  /* border-top: 4px solid #EA954F;
  border-bottom: 4px solid #EA954F; */
  background-color: var(--background-accent-active);
}

.plans__logo {
  inline-size: clamp(6.875rem, 6.3393rem + 2.6786vw, 8.75rem);/*140 110*/
  aspect-ratio: 1/1;
  margin-block-end: 10px;
}
/* 
.head_one {
  inline-size: 120px;
}

.head_two {
  inline-size: 140px;
}

.head_three {
  inline-size: 150px;
}

.head_four {
  inline-size: 180px;
} */

.plans__price {
  margin-block-end: 10px;
}

.one {
  font-size: 20px;
}

.three {
  font-size: 23px;
}

.five {
  font-size: 27px;
}

.ten {
  font-size: 31px;
}