@import url('./nav/nav.css');
@import url('./caption/caption.css');

/* =============== header ================= */
.header {
  text-align: center;
  block-size: 100vh;
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo__img-wrapper {
  display: grid;
  place-content: center;
  margin-right: 30px;
  width: 175px;
  height: 175px;
  border: 4px solid black;
  border-radius: 50%;
  transition: .3s;
  perspective: 50px;
  cursor: pointer;
}

.logo__img {
  margin-left: 7px;
  margin-top: 5px;
  inline-size: 150px;
  aspect-ratio: 1/1;
}

.title {
  font-family: 'Rubik Mono One';
  font-size: clamp(3.125rem, 2.2321rem + 4.4643vw, 6.25rem); /*100 50px 320 1440*/
  color: var(--accent-color);
  text-shadow: -2px 2px 2px var(--accent-color);
  text-transform: uppercase;
  cursor: pointer;
}

/* ==============keyframes================= */
@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.animation-rotate  {
  animation: rotate 2s ease;
  background-color: rgba(234, 149, 79, 0.2);
}

/* media */

/* @media (width <= 430px) {
  .header {
    block-size: auto;
  } for tablets, do after all
} */

@media (1024px <= height ) {
  section {

  }
}

@media (width <= 768px) {
  .logo-wrapper {
    flex-direction: column;
  }

  .title {
    margin: 2rem 0 0;
  }

  .nav__list {
    flex-direction: column;
  }

 

  .nav__list-item:not(:last-child) {
    margin: 0 0 clamp(1.25rem, 1.0268rem + 1.1161vw, 1.5625rem); /* 25 20*/
  }


  /* .intro__slogan {
    font-size: clamp(0.875rem, 0.6964rem + 0.8929vw, 1.5rem);
  } */
}

@media (429px <= width <= 768px) {

}