/* ==========tokenomics============ */
.tokenomics {
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tokenomics__title {
  margin-bottom: 40px;
}

.chart__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pie-chart {
  border-radius: 50%;
  inline-size: 300px;
  background-image: conic-gradient(#EA954F 70%, #976B40 70%, #976B40 85%, #FFFADE 85%, #FFFADE 95%, #2D024E 95%, #2D024E 100%);
  /* transform: rotateY(180deg); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #EA954F;
  box-shadow: 0px 0px 7px var(--accent-color);
  aspect-ratio: 1/1;
}

.chart__image {
  inline-size: 100px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.chart__info-list {
  padding: 20px;
  /* border: 3px solid #EA954F; */
  box-shadow: 0px 0px 3px var(--accent-color);
  border-radius: 5px;
  text-shadow: 0px 0px 9px white;
  background-color: var(--background-accent);
  backdrop-filter: blur(5px);
  border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F;
  transition: .2s;
}

.chart__info-list:hover {
  border-top: 4px solid #EA954F;
  border-bottom: 4px solid #EA954F;
  background-color: var(--background-accent-active);

}

.chart__item {
  display: flex;
}

.chart__item:not(:last-child) {
  margin-bottom: 20px;
}

.chart__percentage {
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
}

.liquidity {
  color: #EA954F;
}

.developers {
  color: #976B40;
}

.preventa {
  color: #FFFADE;
}

.marketing {
  color: #2D024E;
}

/* .chart__text {
  font-size: 19px;
} */

/* ==============keyframes================= */
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.animation-spin {
  animation: spin 4s linear infinite;
}

/* media */

@media (width < 768px) {
  .tokenomics {
    height: auto;
    margin-block-end: clamp(1.25rem, 0.8036rem + 2.2321vw, 1.875rem);/*30 20px*/
  }

  .chart__container {
    flex-direction: column;
    gap: 40px;
  }

  .pie-chart {
    inline-size: clamp(15.625rem, 13.3929rem + 11.1607vw, 18.75rem); /*300 250px*/
  }

  .chart__percentage {
    font-size: clamp(1.25rem, 1.0268rem + 1.1161vw, 1.5625rem);/*25 20px*/
  }
}


/* intro hover effec fix */