/* ==========tokenomics============ */
.tokenomics {
  width: 90%;
  height: auto;
  margin-block-end: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tokenomics__title {
  margin-bottom: 40px;
}

.chart__container {
  margin-block-start: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pie-chart {
  border-radius: 50%;
  inline-size: clamp(18.75rem, 15.1786rem + 7.4405vw, 21.875rem);/*350 300*/
  background-image: conic-gradient(#EA954F 70%, #976B40 70%, #976B40 85%, #FFFADE 85%, #FFFADE 95%, #2D024E 95%, #2D024E 100%);
  /* background-image: conic-gradient(#FFFADE 5%, #EA954F 5%, #EA954F 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #EA954F;
  box-shadow: 0px 0px 7px var(--accent-color);
  aspect-ratio: 1/1;
}

.chart__image {
  inline-size: clamp(6.25rem, 5.7143rem + 2.6786vw, 8.125rem);/*130 100*/
  aspect-ratio: 1/1;
  cursor: pointer;
}

.chart__info-list {
  padding: 20px;
  /* border: 3px solid #EA954F; */
  box-shadow: 0px 0px 3px var(--accent-color);
  border-radius: 5px;
  text-shadow: 0px 0px 9px white;
  background-color: var(--background-accent);
  backdrop-filter: blur(5px);
  border-top: 2px solid #EA954F;
  border-bottom: 2px solid #EA954F;
  transition: .2s;
}

.chart__info-list:hover {
  border-top: 4px solid #EA954F;
  border-bottom: 4px solid #EA954F;
  background-color: var(--background-accent-active);
}

.chart__item {
  display: flex;
  align-items: center;
}

.chart__item:not(:last-child) {
  margin-bottom: 20px;
}

.chart__percentage {
  font-size: 25px;
  margin-right: 20px;
  font-weight: bold;
}

.team {
  color: #EA954F;
}

.developers {
  color: #976B40;
}

.preventa {
  color: #FFFADE;
}

.liquidity {
  color: #EA954F;
}

.team {
  color: #FFFADE;
}

.chart__text {
  font-weight: 500;
}

/* ==============keyframes================= */
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.animation-spin {
  animation: spin 4s linear infinite;
}

/* media */
@media (width < 1024px) {
  .tokenomics {
    height: auto;
  }
}

@media (width < 768px) {
  .tokenomics {
    height: auto;
    margin-block-end: clamp(1.25rem, 0.8036rem + 2.2321vw, 1.875rem);/*30 20px*/
  }

  .chart__container {
    margin-block-start: clamp(0rem, -1.1004rem + 4.6948vw, 3.125rem);
    flex-wrap: wrap;
    gap: 40px;
  }

  .pie-chart {
    inline-size: clamp(15.625rem, 13.3929rem + 11.1607vw, 18.75rem); /*300 250px*/
  }

  .chart__percentage {
    font-size: clamp(1.25rem, 1.0268rem + 1.1161vw, 1.5625rem);/*25 20px*/
  }
}
